.TTT-logo {
    height: 40vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .TTT-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

@keyframes TTT-logo-spin {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  .TTT:hover {
   filter: invert(0.5);
  }

  .TTT:active {
      filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
  }