
.title1 {
    border: solid black 2px;
    padding: 10px;
}

#balance {
    font-size: larger;
}

button {
    height: 40px;
    font-size: large;
    box-shadow: black 5px;
    border-radius: 3px;
    background-color: cadetblue;
}

input {
    height: 33px;
    font-size: large;
    
}

#accountSections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;

}

#accountLower {
    border: solid black 2px;
    padding: 10px;
    margin: 10px;
    flex-flow: wrap;
    align-content: stretch;
    border-radius: 10px;
    background-color: rgb(129, 154, 179);
    box-shadow: 5px 5px rgb(70, 83, 97);
}

#rename{
    padding: 10px 0px 0px 0px;
    border-top: 2px solid black;
}
