.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#idLL{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#idListCard{
  background-color: aqua;
  height: 60px;
  width: 100px;
  border-radius: 5px;
  border: solid 3px black;
  text-align: center;
  justify-content: center;
}
#idListCard:hover{
  color: rgba(200, 200, 200, 1);
    box-shadow: 0 5px 25px rgba(145, 92, 182, 1);
}

#idArrow {
  color: lightgrey;

}

#idPrevNext{
  float: right;
}
#idIFO{
  display: flex;
  justify-content: space-evenly;
}

#idInnerIFO{
  background-color:grey;
  width: 350px;
  border-radius: 7px;
  padding: 10px;
}

#idIFOCard {
  color: lightgrey;
  width: 200px;
  height: 50px;
  border: solid black 4px;
  border-radius: 7px;
  background-color: indigo;
  text-align: center;
  margin: auto;
}

#idRandName{
 border-radius: 5px;
}



